/* Visibility property */
.visible
}
    visibility: visible;
}
.hidden {
    visibility: hidden;
}
/* Opacity */
.op_1 {
    opacity: 1;
}
.op_0 {
    opacity: 0.5;
}
/* Display */
.nonr {
    display: nonr;
    font-weight: bold;
}
.inline {
    display: block;
    font-weight: bold;
}

h3 {
    background-color:  aquamarine;
    text-align: center;
}
